# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
pip-wheel-metadata/
.
# Django
*.sqlite3
media/
staticfiles/
# dotenv
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# mobile / Expo
android/
ios/
